<?xml version="1.0" encoding="UTF-8"?>
<!--
This logback-spring.xml configures JSON logging for a Spring Boot app.
Logs are written to both console and rolling files in ./logs, archived daily or at 10MB.
Uses LogstashEncoder for structured logs, aiding integration with tools like ELK or Splunk.
JSON logs are easy to parse, search, and analyze for better monitoring and debugging.
-->
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="JsonFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-json.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/spring-boot-json-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="JsonFile"/>
        <appender-ref ref="Console"/>
    </root>

</configuration>