<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emp.mapper.UsersMapper">
	<resultMap id="UsersResultMap" type="Users">
		<id property="id" column="users_id" />
		<result property="name" column="users_name" />
		<result property="role" column="users_role" />
		<result property="password" column="users_password" />
		<result property="version" column="version" />
		<result property="lastModifiedDate" column="last_modified_date" />
	</resultMap>

	<sql id="usersColumns"> 
			users_id,users_name ,users_role ,users_password ,version ,last_modified_date
			</sql>


	<select id="findAll" resultMap="UsersResultMap">
	    <!-- if you use * to get all fields then password will also be retrieved because the field name matches both in the model and sql table !! -->
		SELECT 
		<include refid="usersColumns"></include>
		 FROM users
	</select>
	<select id="findById" resultMap="UsersResultMap" parameterType="java.lang.Integer">
		SELECT * FROM users where users_id = #{id}
	</select>


	<select id="findNextSeq" resultType="java.lang.Integer">
		SELECT users_seq.nextval
		FROM dual
	</select>


	<select id="findByQuery" resultMap="UsersResultMap"
		parameterType="UsersQuery">
		SELECT 
		<include refid="usersColumns"></include>
		
		FROM users where 1 = 1
		<if test="id != null">
			AND users_id = #{id}
		</if>
		<if test="name != null">
			AND users_name like #{name}
		</if>
		<if test="role != null">
			AND users_role like #{role}
		</if>
		<if test="version != null">
			AND version like #{version}
		</if>
		<if test="lastModifiedDate != null">
			AND last_modified_date like #{lastModifiedDate}
		</if>
	</select>
	<select id="findByName" resultMap="UsersResultMap">
	
		SELECT 
		<include refid="usersColumns"></include>
		 FROM users where users_name = #{name}
	</select>

	<insert id="save" parameterType="Users">
		insert into
		users(users_id,users_name,users_role,users_password)
		values
		(#{id},#{name},#{role},#{password})
	</insert>

	<update id="update" parameterType="Users">
		update users 
		set users_name = 	#{name} ,
		users_role = #{role},
		users_password = #{password},
		version = version + 1
		where 
		users_id = #{id} and
		version = #{version}

	</update>




</mapper>


